.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    color: black;
  }

.navbar {
    background-color: lightgray;
}