td {
    min-width: 80%;
}

.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.button1 {
    margin-right: 16px;
}

.form-check-input {
    margin-left: 16px;
}

#headerBtn {
    border: none;
    background: none;
    font-size: 23px;
    padding-left: 25px;
}

#outer {
    width:100%;
    text-align: center;
}

tr {
    white-space: nowrap;
}

.pad{
    padding-top: 2%;
    padding-bottom: 2%;
}