
.card{
    width: 90%;
}


.task-holder{
    font-weight: 100;
    width: 100%;
    margin-left: 15px;
}

.Task{
    display: inline;
    font-size: 2rem;
    margin-left: 10px;
}

.task-holder > p{
    display: inline;
    font-size: 1rem;
}

td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn{
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-table{
   width: 100%;
   table-layout: fixed;

}

tr:nth-child(even){
    background-color: gainsboro;
}

th{
    height: 75px;
}

tr{
    border: 2px solid gray;
    height:50px;
}


.tree-column-1{
    width: 30%;
    background-color: gray;
}

.tree-column-2{
    width: 35%;
    background-color: gray;
}

.tree-column-3{
    width: 35%;
    background-color: gray;
}

.button1 {
    float: right;
}

.button2{
    float: right;
    margin-right: 10px;
}

#headerBtn {
    border: none;
    background: none;
    font-size: 23px;
    padding-left: 25px;
}

#outer {
    width:100%;
    text-align: center;
}


.pad{
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer{
    position: fixed;
    bottom: 0;
}

/* @media only screen and (max-width:850px){

    .tree-column-1{
        width: 30%;
        background-color: gray;
    }
    
    .tree-column-2{
        width: 35%;
        background-color: gray;
    }
    
    .tree-column-3{
        width: 35%;
        background-color: gray;
    }
    
} */